p {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #444444;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #222222;
}
