.stepper-constants {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

mat-icon {
    margin: 0;
    padding: 0;
}

.timer-value {
    font-size: 2rem;
    padding-left: 1vw;
    padding-right: 2vw;
    width: 2vw;
}

.stepper-constants button {
    background-color: var(--primary-color-blue);
}
